<!DOCTYPE html>
<meta charset="UTF-8">
:css
  #{stylesheet}
%title Curriculum Vitae
%img#background{src: 'http://icon.ssig33.com/back.png', alt: 'background'}
#wrapper
  #all
    %h1 Curriculum Vitae
    %h3 Table of contents
    =toc
    =main
